<nav class="bottom-nav">
    <NavLink class="bottom-nav-item" href="" Match="NavLinkMatch.All">
        <span class="bn-icon">🏠</span>
        <span class="bn-label">Accueil</span>
    </NavLink>
    <NavLink class="bottom-nav-item" href="assistant">
        <span class="bn-icon">🤖</span>
        <span class="bn-label">Assistant</span>
    </NavLink>
    <NavLink class="bottom-nav-item" href="contacts">
        <span class="bn-icon">📇</span>
        <span class="bn-label">Contacts</span>
    </NavLink>
    <NavLink class="bottom-nav-item" href="parametres">
        <span class="bn-icon">⚙️</span>
        <span class="bn-label">Paramètres</span>
    </NavLink>
</nav>
